.seoCardLayout {
    height: 50vh;
    box-shadow: none;
    min-width: 880px;
}

.seoCardLayout .noVanity {
    text-align: center;
}

.seoCardLayout .noVanity > p {
    padding: 30px;
}

.seoCardLayout .noVanity > div {
    text-align: inherit;
    margin: 20px;
}

.dropdownDiv {
    margin-top: 8px;
    min-height: 32px;
}

.root > div > div > div > div > div{
    padding: 8px;
}

.workspaceDropdown {
    max-width: fit-content;
}
