.seoCardLayout {
    height: 50vh;
    box-shadow: none;
}

.seoCardLayout .noVanity {
    padding-top: 20vh;
    text-align: center;
}

.seoCardLayout .noVanity > p {
    padding: 30px;
}

.seoCardLayout .noVanity > div {
    text-align: inherit;
    margin: 20px;
}

.dropdownDiv {
    padding-left: 51px;
}

.root {
    margin: 4px;
}
