.root {
  z-index: 9
}

.button {
  height: 18px;
  width: 18px;
  position: absolute;
  top: 4px;
  transform: scale(0.75);

  &:hover {
    background-color: inherit;
  }
}

.textInput {
  color: inherit;
  font-size: inherit;
  width: 100%;
  padding-right: 60px;
  font-family: Nunito, "Nunito Sans", serif;
}

.errorMessage {
  top: unset !important;
  background: unset !important;
}

.vanityURLText {
  line-height: 21px;
  max-height: 42px;
  overflow: hidden;
  position: relative;
  word-break: break-all;
  padding: 3px 6px 1px;
  font-size: 0.8rem;
  color: #212121;
  font-family: Nunito, "Nunito Sans", serif
}

.editableText {
  &:hover {
    box-shadow: inset 1px 1px 0 0 #d9d7d7, inset -1px -1px 0 0 #d9d7d7;
    cursor: text;
    background: white;
  }

  &:hover:before {
    background: #FFF !important
  }

  &:hover:after {
    background: #FFF !important
  }
}
