.inactive {
  .languageContainer {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    .liveLanguage {
      color: #B2B2B2
    }

    div > p {
      color: #B2B2B2
    }
  }
}

.vanityUrl {
  &:hover .hiddenOnHover {
    transition: opacity 0.25s;
    opacity: 1;
  }

  td {
    padding: 6px;
    border: 0;
  }
}

.notPublished {
  box-shadow: inset 7px 0 0 0 #212121;
}

.toBePublished {
  box-shadow: inset 7px 0 0 0 #ef6c00;
}

.isPublished {
  box-shadow: inset 7px 0 0 0 #00aa4f;
}

.isMarkedForDeletion {
  box-shadow: inset 7px 0 0 0 #c00;
}

.tableRow {
  height: 66px;

  &:hover .vanityURLText:before {
    background: #f7f7f7
  }

  &:hover .vanityURLText:after {
    background: #f7f7f7;
  }
}

.editLine {
  background-color: #F7F7F7;

  & .tableCellTextInput > div > div {
    background: white;
  }
}

.hidden {
  opacity: 0;
}

.hiddenOnHover {
  opacity: 0;
  transition: opacity 0.25s;
}

.checkboxLeft {
  margin-left: -32px;
  margin-top: 2px;
  position: absolute;
  border: 0;
  color: #504e4d;
}

.switchBase {
  width: 38px;
}

.switchChecked {
  width: inherit;
}

.tableCellTextInput {
  background: transparent;
  width: 100%;
}

.languageContainer {
  padding-right: 10px;
}

.chipContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.chipWithMargin {
  margin-right: var(--spacing-small);
}

.deletedUrl {
  text-decoration: line-through;
  padding: 3px 6px 1px;
}

.missingDefault {
  font-style: italic;
  font-weight: 100;
  color: #B2B2B2;
  font-size: 0.8125rem;
  padding-left: 22px;
  box-shadow: inset 7px 0 0 0 #bab7b7;
}

.missingDefault p {
  padding: 3px 6px 1px;
}
