.checkboxChecked {
  color: #0072b1 !important;
}

.dialog {
  z-index: 1300 !important;
  overflow: unset;

  .header {
    padding: var(--spacing-medium);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.radioButton {
  color: #0072b1 !important;
}

.titleContainer {
  padding: unset !important;

  .dialogTitle {
    color: #373c42;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dialogSubTitle {
    color: #525c65;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.link {
  font-style: italic;
  color: #0072b1;
}

.dialogContent {
  border-top: 1px solid #e0e6ea;
  border-bottom: 1px solid #e0e6ea;
}

.label {
  font-weight: lighter;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;

  padding-left: var(--spacing-medium);
}

.languageSelectionContainer {
  display: flex;
  flex-direction: column;

  padding-left: var(--spacing-big);

  & div {
    display: flex;
    align-items: center;
  }
}

.radioButtonContainer {
  display: flex;
  flex-direction: column;

  padding: 0 var(--spacing-huge) !important;
}

.radioButtonEntry {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.subTextAllContent {
  font-weight: lighter;
}

.actions {
  justify-content: flex-end !important;
}

.dialogOverflow div:first-child {
  overflow: unset;
}
